<html ng-app="ProjectMgmt">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Project Management System</title>
    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
</head>

<body ng-controller="ProjectCtrl">
    <div class="container">
        <h1 class="title text-center">List of Projects</h1>
        <hr />
        <div class="row" ng-repeat="project in projects" style="border-bottom: 1px #CCC solid;margin-bottom: 10px;">
            <label class="col-sm-4 control-label">Title : </label>
            <label class="col-sm-8 control-label">{{project.title}}</label>
            <label class="col-sm-4 control-label">Start Date : </label>
            <label class="col-sm-8 control-label">{{project.startDate}}</label>
            <label class="col-sm-4 control-label">End Date : </label>
            <label class="col-sm-8 control-label">{{project.endDate}}</label>
        </div>
        <form class="form-horizontal">
            <div class="form-group">
                <label class="col-sm-2 control-label">Project Title</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" placeholder="Project Title" ng-model="project.title"> Changed {{count.title}} times.
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">Start Date</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" placeholder="Start Date" ng-model="project.startDate"> Changed {{count.startDate}} times.
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">End Date</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" placeholder="End Date" ng-model="project.endDate"> Changed {{count.endDate}} times.
                </div>
            </div>
        </form>
    </div>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
    <script src="js/ProjectCtrl.js"></script>
</body>

</html>
